*{
  font-family:  sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box ;
}
body{
  height: 100vh;
  background-color: antiquewhite;
  font-size: 16px;
  color: hsl(219, 12%, 42%);
}
.container{
  margin: 80px auto;
  width: 600px;
  height: 850px;
  padding: 1rem 1rem 0;
  border-radius: 0.5rem;
  background-color: #fff;   
}
header{
  padding: 1rem .1rem 0;
  background-color: #fff;
  margin: 10px;
  border-radius: 15px;
  justify-content: space-between;
  display: flex;
}
.no-box{
  display: flex;
  align-items: center;
}
#No-notif{
background-color: blue;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
width: 30px;
height: 30px;
border-radius: 0.5rem;
margin-left: 10px;
}
#Mark{
  color: gray;
  cursor: pointer;
  transition: 0,6s ease;
}
#Mark:hover{
  color: black;
}
main{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.notif-card{
display: flex;
align-items: center;
padding: 1rem;
gap: 1rem;
border-radius: 1rem;
}
.notif-card img{
width: 50px;
height: 50px;
border-radius: 3rem;
}
.notif-card .description{
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#unread{
  background-color: rgb(191, 191, 253);
  width: 555px;
  height: 60px;
}
.pan{
  color: #fff;
  background-color: hsl(220, 83%, 39%);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  padding: 3px 6px ;
  margin-left: 6px;
}
.c-img{
  padding-left: 3rem;
}
strong{
  color: black;
}
strong:hover{
  color: blueviolet;
}
.span-dot{
  display: flex;
}
.span-dot a{
  width: 8px;
  height: 8px;
  background: red;
 border-radius: 50%;
 margin-left: .1rem;
 margin-top: .4rem;
 justify-content: center;
}
.user-act p{
  color: #fbf7f7;
  margin-top: 1rem;
}
.name{
  color: darkblue;
}
.msg {
  border: 1px solid hsl(205, 44%, 57%);
  font-size: 14px;
  width: 450px;
  height: 80px;
  text-decoration: none;
  padding: 15px 20px 15px;
 margin-left: 4.5rem;
 gap: .1rem;
 background-color: rgb(247, 248, 249);
}
@media screen and (max-width:768px){

  .container{
    margin: 20px auto;
    padding: 25px 15px 0;
    display: block;
    width: 100%;
    height: fit-content;
    position: relative;
  }
  .notif-card{
    display: block;
    text-align: center;
    box-sizing: border-box;
  }
  #unread{
    display: block;
  width: 100%;
  text-align: center;
  position: relative;
  box-sizing: border-box;

  }
  header{
    display: block;
  }
  .span-dot a{
    display: block;
  }
  .no-box{
    display: block;
    align-items: center;
  }
  .msg {
    
    text-align: center;
    display: block;
    width: 210px;
    height: 125px;
  border-radius: auto;
  box-sizing: border-box;
  position: relative;

  }
}
@media screen and (min-width:768px) and (max-width:1440) {

  body{
    width: 100%;
    position: relative;
  }
  .container{
    display: block;
    width: 100%;
    position: relative;
  }
}